*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
:root {
    --white: #FFF;    
    --black: #000;

}
html {
    font-size: 62.5%; 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
    box-sizing: border-box; 
    color: var(--white);    
}

p { 
    margin-bottom: 0;
}
button { 
    border: none; 
}
hr {
    opacity: 1;
}
.font--light {
    font-weight: 300;
    font-style: normal; 
}
.font--regular  {
    font-weight: 400;
    font-style: normal; 
}
.font--medium {
    font-weight: 500;
    font-style: normal; 
}
.font--semiBold {
    font-weight: 600;
    font-style: normal; 
}
.font--bold {
    font-weight: 700;
    font-style: normal; 
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul{
    margin-bottom: 0;
}

body {    
    width: 100%;
    height: auto;
    margin: 0 auto;  
    background: #1F1F1F;
    color: var(--white);  
}

@media (max-width: 576px) {
    body {    
        width: 100%;
        border-left: 2px solid red;
        border-right: 2px solid red;
    }
}

@media (min-width: 577px) {
    body {    
        width: 100%;
        border-left: 2px solid olivedrab; 
        border-right: 2px solid olivedrab;
    }
}

@media (min-width: 768px) {
    body {    
        width: 100%; 
        border-left: 2px solid blueviolet;   
        border-right: 2px solid blueviolet;      
    }
}

@media (min-width: 992px) {
    body {    
        width: 100%;
        border-left: 2px solid blue;   
        border-right: 2px solid blue;      
    }
}
@media (min-width: 1200px) {
    body {    
        width: 100%;  
        border-left: 2px solid pink; 
        border-right: 2px solid pink;           
    }
}

@media (min-width: 1400px) {
    body { max-width: 1440px; 
        border-left: 2px solid greenyellow;  
        border-right: 2px solid greenyellow;      
    }
}
.brand__name {
    position: absolute;    
    font-family: 'Alex Brush';
    font-size: 1.4107rem;  
    line-height: normal;
    top: 30.7px;
    left: 37.06px;
}
.nav__menu--btn{
    position: absolute;
    right: 29.1px;
    top: 36.81px;
}
.hero__content {    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 100%;
    align-items: center;
    margin-bottom: 54.3px; 
}
.hero__img {
    width: 306.772px;
    height: 437.532px;
    position: relative;
    z-index: -1;
    flex-shrink: 0;
    background-image: url('../img/hero/unsplash_OhKElOkQ3RE.svg');
    margin: 0 auto;
}
.hero__content--text { 
    text-align: center; 
    line-height: normal;        
}
.hero__content--title {
    width: 128px;
    height: 26px;  
    margin-top: 33.3px;  
    font-size: 1.7461rem;
    letter-spacing: 6.286px;
    text-transform: uppercase; 
}
.hero__content--subtitle {
    width: 283px;
    height: 50px;
    margin-top: 9.63px;   
    font-size: 3.3402rem; 
}
.hero__content--desc {
    width: 181px;
    height: 21px; 
    font-size: 13.67px;
    letter-spacing: 0.205px;
    text-transform: uppercase;
}
.btn__primary {
    padding: 11.67px 32.11px 11.79px 31.96px;
    margin-top: 33.3px;
    width: 191.064px;
    height: 49.453px;
    flex-shrink: 0;
    border-radius: 6.873px;
    background: var(--Color, linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%));
    
}
.btn__primary--text {
    font-size: 1.7461rem;  
    letter-spacing: 0.873px;
    text-transform: capitalize;
    color: var(--white);
}
.menu__clients--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -40.5px;      
}
.menu__clients--item {
    height: 25px;
    width: 68px;
    font-family: Questrial;
    font-size: 2.4255rem;
    line-height: normal;
    letter-spacing: 1.213px;
    text-transform: capitalize;
}
.about__container {
    height: auto;
}
.about__img {
    margin-top: 18.94px;
    position: absolute;
    width: 254.232px;
    margin-left: 21.07px;    
    height: 280.493px;
    flex-shrink: 0;
    background-image: url('../img/hero/unsplash_OhKElOkQ3RE.svg');
    background-position: center;
}
.about__img--frame {
    margin-top: 68.93px;
    position: relative;
    z-index: -1;
    width: 207.559px;
    height: 293.479px;
    flex-shrink: 0;
    margin-left: 52.08px;
    background: #5A6C6C;    
}
.about__content {
    margin-left: 34.63px;
    margin-top: 54.63px; 
    margin-bottom: 57.8px;       
}
.about__content--title {
    width: 151px;
    height: 69px; 
    position: absolute;   
}
.about__content--title p { 
    display: block; 
    font-family: Poppins;
    font-size: 4.5807rem; 
    line-height: normal;
    letter-spacing: 2.29px;
    text-transform: capitalize;    
}
.about__content--subtitle {
    width: 46.118px;
    height: 62.666px;
    flex-shrink: 0;
    position: relative;
    left: 0;
    bottom: 21.86px;
    z-index: -1;
}
.about__content--desc {
    width: 320.383px;
    height: 129.925px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.about__content--desc p {
    font-family: Poppins;
    font-size: .8604rem;    
    line-height: normal;
    letter-spacing: 0.43px;
    text-transform: capitalize;
}
.brake__line--first {
    width: 129.704px; 
    margin-left: 42.91px;
    margin-bottom: 6.81px;
}
.skills {
    margin-bottom: 77.37px;
}
.skills__content {
    margin-left: 36.5px;
    height: 63px;
}
.skills__content p {    
    font-family: Poppins;
    font-size: 4.1915rem; 
    line-height: normal;
    letter-spacing: 2.096px;
    text-transform: capitalize;
}
.skills__list {
    margin-left: 36.5px;
    margin-top: 21.86px;
    justify-content: space-between;
    display: flex;
}
.skills__item {
    display: flex;
    flex-direction: column; 
    width: 96.443px;
    height: 122.623px;    
}
.skills__item--size {
    width: 96.443px;
    height: 96.443px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
}
.skills__item--value {
    height: 29px;
    width: 33px;
    position: absolute;
    font-family: Poppins;
    font-size: 1.9433rem;
    line-height: normal;
    letter-spacing: 0.972px;
    text-transform: capitalize;
}
.skills__item--name {
    margin-top: 15.18px;
    display: flex;
    width: 100%;
    height: 11px;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}
.skills__lang--header {
    width: 131.809px;
    height: 34px;
    margin-top: 55px;
    margin-left: 39.37px;
    margin-bottom: 28.88px;
}
.skills__lang--header p {
    font-family: Poppins;
    font-size: 2.2423rem;
    line-height: normal;
    letter-spacing: 1.121px;
    text-transform: capitalize;
    margin-top: -10px;  
}
.brake__line--second {
    width: 189.767px;
    height: 1.553px;
    margin-bottom: 10px;
}
.brake__line {
    height: 1.553px;
    width: 100%;
    margin: 0;
}
.skills__lang--en {
    margin-top: 28.88px;
}
.skills__lang--fr {
    margin-top: 15.98px;
}
.skills__lang--name {
    font-family: Poppins;
    font-size: 1.8148rem;
    line-height: normal;
    letter-spacing: 0.907px;
    text-transform: capitalize;
    margin-bottom: 8.82px;
    margin-left: 38.64px;
}
.skills__lang--value {
    border-radius: 30.71px;
    margin-left: 40.48px;
    background: linear-gradient(90deg, #3C1DFF 18.63%, #14C9C9 78.88%);
}
.value__lang--fr {
    width: 201.396px;
    height: 14.925px;
    flex-shrink: 0;
    position: relative;
}
.value__lang--en {
    width: 299.993px;
    height: 14.925px;
    flex-shrink: 0;
    position: relative;
}
.skills__lang--rate {   
    font-family: Poppins;
    font-size: .891rem; 
    line-height: normal;
    letter-spacing: 0.446px;
    text-transform: capitalize;
    position: absolute;
    right: 4.17px;
    bottom: 13.283px;
    height: 13px;
}
.skills__studies {
    margin-top: 51.8px;
}
.skills__studies--header {
    height: 25px;
    width: 99.868px;
    margin-left: 43.93px;
}
.skills__studies--header p {
    font-family: Poppins;
    font-size: 1.6989rem;
    line-height: normal;
    letter-spacing: 0.849px;
    text-transform: capitalize;
}
.skills__studies--header p {
    width: 99.868px;
    font-family: Poppins;
    font-size: 1.6989rem;
    line-height: normal;
    letter-spacing: 0.849px;
    text-transform: capitalize;
}
.brake__line--third {
    width: 143.781px; 
    margin-left: 43.39px;
    margin-top: 2px;
    margin-bottom: 21.16px;
}
.studies__item--logo {
    width: 52.924px;
    height: 52.924px;
    flex-shrink: 0;
    background-image: url('../img/experiance/Frame__center.svg'), url('../img/experiance/Ellipse\ 5.svg');
    background-repeat: no-repeat;
    background-position: center center, left top;
    background-size: 18.494px 18.494px, 52.924px 52.924px;
}
.studies__item {
    display: flex;
    margin-left: 42.3px;
    margin-bottom: 14.05px;
}
.studies__item--details {
    padding-left: 11.94px;   
}
.studies__item--name { 
    font-family: Poppins;
    font-size: 1.6266rem; 
    line-height: normal;
    letter-spacing: 0.813px;
    height: 24px;
    margin-top: 2.24px;
    text-transform: capitalize;
}
.studies__item--data span {
    color: #E3E1E1;
    font-family: Poppins;
    font-size: 1.0015rem; 
    line-height: normal;
    letter-spacing: 0.501px;
    text-transform: capitalize;
}
.studies__item--data span:nth-child(1) {
    margin-right: 6.4px;
}
.experiance__container {
    margin-bottom: 29.93px;
}
.experiance__header {
    width: 100%;
    margin-bottom: 31.27px;
}
.experiance__header p {   
    font-family: Poppins;
    font-size: 2.3712rem;
    line-height: normal;
    letter-spacing: 1.186px;
    text-transform: capitalize;
    text-align: center;
}
.experiance__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.experiance__gallery div:nth-child(1) {
    width: 302.082px;
    height: 227.264px;
    margin-bottom: 7.84px;
    background-image: url('../img/experiance/unsplash_glRqyWJgUeY__1.svg'); 
}
.experiance__gallery div:nth-child(2) {
    width: 302.082px;
    height: 227.264px;
    margin-bottom: 5.86px;
    background-image: url('../img/experiance/unsplash_iGheu30xAi8__2.svg'); 
}
.experiance__gallery div:nth-child(3) {
    width: 304.768px;
    height: 229.284px;
    flex-shrink: 0;
    margin-bottom: 7.91px;
    background-image: url('../img/experiance/unsplash_SpVHcbuKi6E__3.svg');
}
.experiance__gallery div:nth-child(4) {
    width: 304.768px;
    height: 229.284px;
    flex-shrink: 0;
    background-image: url('../img/experiance/unsplash_i_xVfNtQjwI__4.svg');
}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__header {   
    width: 100%;
    margin-top: 29.93px;  
}
.footer__header--title {    
    text-align: center;
    font-family: Poppins;
    font-size: 3.0382rem; 
    line-height: normal;
    letter-spacing: 1.519px;
    text-transform: capitalize;
    width: 287.47px;
    height: 92px;
    margin: 0 auto;
}
.footer__header--subtitle{
    color: #9E9E9E;
    font-family: Poppins;
    font-size: 1.0285rem;
    line-height: normal;
    letter-spacing: 0.514px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.btn__secondary {
    margin-top: 13.84px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67.62px;
    width: 183.188px;
    height: 44.586px;
    flex-shrink: 0;
    border-radius: 5.379px;
    background: var(--Color, linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%));
}
.btn__secondary--text {
    font-family: Poppins;
    font-size: 1.3665rem;
    color: var(--white); 
    line-height: normal;
    letter-spacing: 0.683px;
    text-transform: capitalize;
}